@use 'variables.scss';

.header {
    border-bottom: 2px solid $verde-soft;
}

.header-section-nav-button {
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 50px;
    
}

.header-section-nav-button a {
    text-decoration: none;    
    font-family: "Roboto Mono", monospace;;
    font-size: 1.0rem;
    color: black;
    font-weight: bold;
    
}

.header-section {
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    
    
}

.header-section-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        margin: 10px;
    }
}

div img {
    height: 100px;
    
}

/* Estilos de la notificación */
.notificacion {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: $dark;
    color: $cobalt;
    padding: 15px;
    border-radius: 5px;
    z-index: 1;
    animation: fadeIn 0.5s ease-in-out;
    font-family: "Roboto Mono", monospace;
    
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }